/* Carousel Style */
.carouselWrapper {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #24afaf;
}
.carousel-inner {
  display: flex;
}
.carousel-caption {
  position: initial;
}
.carousel-inner {
  overflow: hidden;
  }
.associatedInfo{
  height: 75px;
  overflow-wrap: break-word;
}

/* Country Cards Style */
.countryCardsWrapper{
  height: 52vh;
  width: 80%;
  margin-left: 20%;
  overflow-y: auto;
}
.countryCards{
  height: 370px;
  width: 200px;
  margin: 10px;
  color: #000;
}
.card{
  height: 100%;
}
.citiesList{
  list-style: none;
  padding: 0;
}
.countryRow{
  margin: 0 auto;
}

/* Images */
.chineseImg{
  height: 265px;
}
.boyCarouselImg{
  height: 76vh;
  width: 34vw;
}

/* General */
.codeContainer{
  padding: 0;
}
p{
  margin-top: 18px;
  font-size: 1.3rem;
}
.uxList{
  margin-top: 15px;
  padding: 0;
  list-style: none;
  font-size: 1.1rem;
}